In [40]:
import pandas as pd
url = "https://www.theguardian.com/news/datablog/2010/may/06/general-election-2010-turnout-since-1945"
tables = pd.read_html(url)
table = tables[0]
print(table)

    Order      Year    UK  England  Wales  Scotland  N.Ireland Winner
0       1      1945  72.8     73.4   75.7      69.0       67.4    Lab
1       2      1950  83.9     84.4   84.8      80.9       77.4    Lab
2       3      1951  82.6     82.7   84.4      81.2       79.9    Con
3       4      1955  76.8     76.9   79.6      75.1       74.1    Con
4       5      1959  78.7     78.9   82.6      78.1       65.9    Con
5       6      1964  77.1     77.0   80.1      77.6       71.7    Lab
6       7      1966  75.8     75.9   79.0      76.0       66.1    Lab
7       8      1970  72.0     71.4   77.4      74.1       76.6    Con
8       9  1974 Feb  78.8     79.0   80.0      79.0       69.9    Lab
9      10  1974 Oct  72.8     72.6   76.6      74.8       67.7    Lab
10     11      1979  76.0     75.9   79.4      76.8       67.7    Con
11     12      1983  72.7     72.5   76.1      72.7       72.9    Con
12     13      1987  75.3     75.4   78.9      75.1       67.0    Con
13     14      1992  77.7     78.0   79.7      75.5       69.8    Con
14     15      1997  71.4     71.4   73.5      71.3       67.1    Lab
15     16      2001  59.4     59.2   61.6      58.2       68.0    Lab
16     17      2005  61.4     61.3   62.6      60.8       62.9    Lab

In [41]:
import pandas as pd

url = "https://www.theguardian.com/news/datablog/2010/may/06/general-election-2010-turnout-since-1945"
tables = pd.read_html(url)

df = tables[0][['Year', 'UK']].copy() 

df.columns = ["Year", "Voter Turnout in UK"]
df.loc[:, "Voter Turnout in UK"] = pd.to_numeric(df["Voter Turnout in UK"], errors="coerce")

df['Year'] = df['Year'].str[:4]

df.to_csv('voter_turnout_data.csv', index=False)

In [48]:
import pandas as pd
import altair as alt
from altair import datum

url = "https://www.theguardian.com/news/datablog/2010/may/06/general-election-2010-turnout-since-1945"

tables = pd.read_html(url)

df = tables[0][['Year', 'UK']].copy() 

df.columns = ["Year", "Voter Turnout in UK"]
df['Year'] = df['Year'].str[:4]

df.loc[:, "Voter Turnout in UK"] = pd.to_numeric(df["Voter Turnout in UK"], errors="coerce")

chart = alt.Chart(df).mark_line().encode(
    x='Year:O',
    y='Voter Turnout in UK:Q',
    tooltip=['Year:O', 'Voter Turnout in UK:Q']
).properties(
    title='Voter Turnout in the UK - General Elections Since 1945'
)

#chart.show('voter_turnout_chart.html')
df

    Year  Voter Turnout in UK
0   1945                 72.8
1   1950                 83.9
2   1951                 82.6
3   1955                 76.8
4   1959                 78.7
5   1964                 77.1
6   1966                 75.8
7   1970                 72.0
8   1974                 78.8
9   1974                 72.8
10  1979                 76.0
11  1983                 72.7
12  1987                 75.3
13  1992                 77.7
14  1997                 71.4
15  2001                 59.4
16  2005                 61.4