In [25]:
import requests
import re
import pandas as pd

url = "https://www.ined.fr/en/everything_about_population/data/world-projections/projections-by-countries/"
response = requests.get(url)

if response.status_code == 200:
    html_content = response.text

    table_pattern = re.compile(r'<table[^>]*>.*?</table>', re.DOTALL)
    table_match = table_pattern.search(html_content)

    if table_match:
        table_html = table_match.group(0)

        header_pattern = re.compile(r'<th.*?>(.*?)</th>', re.DOTALL)
        variables = header_pattern.findall(table_html)

        cell_pattern = re.compile(r'<td.*?>(.*?)</td>', re.DOTALL)
        cells = cell_pattern.findall(table_html)

        if variables and cells:
            data = [cells[i:i + len(variables)] for i in range(0, len(cells), len(variables))]
            df = pd.DataFrame(data, columns=variables)

            df.to_csv('global_populations.csv', index=False, encoding='utf-8')
            print("Data saved to global_populations.csv")
        else:
            print("Variable names or data not found in the table.")
    else:
        print("Table not found.")
else:
    print("Failed to retrieve the webpage. Status code:", response.status_code)

df

#Help from ChatGPT to edit the code was utilised when the code written didn't provide output that was divided into columns

Data saved to global_populations.csv

,"\r\n<tr>\r\n<th id=""col-A2"" class="" header-top"" colspan=""1"" rowspan=""1"" headers="""">Rank",Country,Region,2050,2075,2100
0,1,India,Central and Southern Asia,1 668 475,1 677 814,1 533 400
1,2,China,Eastern Asia,1 316 946,1 034 617,771 301
2,3,United States of America,Northern America,375 085,389 171,393 993
3,4,Nigeria,Western Africa,374 711,491 187,545 706
4,5,Pakistan,Central and Southern Asia,365 678,452 094,486 772
5,6,Indonesia,South-Eastern Asia,316 968,316 042,297 128
6,7,Brazil,South America,230 972,214 277,185 102
7,8,Democratic Republic of the Congo,Middle Africa,215 056,336 841,430 995
8,9,Ethiopia,Eastern Africa,213 190,283 418,323 283
9,10,Bangladesh,Central and Southern Asia,203 638,202 222,176 964
10,11,Egypt,Northern Africa,159 574,190 469,205 119
11,12,Philippines,South-Eastern Asia,157 313,177 373,180 236
12,13,Mexico,Central America,143 734,136 563,116 090
13,14,Russian Federation,Eastern Europe,133 354,120 324,112 204
14,15,United Republic of Tanzania,Eastern Africa,128 652,192 234,243 995
15,16,Viet Nam,South-Eastern Asia,107 003,101 581,91 255
16,17,Japan,Eastern Asia,104 140,86 065,73 846
17,18,Iran (Islamic Republic of),Central and Southern Asia,98 945,92 070,80 145
18,19,Turkey,Western Asia,95 744,92 564,82 775
19,20,Uganda,Eastern Africa,86 907,117 075,131 989
20,21,Kenya,Eastern Africa,84 724,104 440,112 466
21,22,Sudan,Northern Africa,83 779,117 007,141 627
22,23,Germany,Western Europe,79 064,72 981,68 985
23,24,Iraq,Western Asia,73 996,97 122,111 325
24,25,Afghanistan,Central and Southern Asia,73 492,98 357,110 743
25,26,South Africa,Southern Africa,73 381,76 585,74 631
26,27,United Kingdom,Northern Europe,71 660,71 624,70 511
27,28,Angola,Middle Africa,71 606,106 510,132 522
28,29,Thailand,South-Eastern Asia,68 075,56 171,44 767
29,30,Niger,Western Africa,66 102,117 226,166 166
30,31,France (métropolitaine),Western Europe,65 863,63 534,60 909
31,32,Mozambique,Eastern Africa,62 482,88 528,105 963
32,33,Myanmar,South-Eastern Asia,59 919,57 716,52 535
33,34,Algeria,Northern Africa,59 772,66 173,67 823
34,35,Colombia,South America,56 986,53 748,45 985
35,36,Yemen,Western Asia,54 942,68 639,74 145
36,37,Italy,Southern Europe,52 428,42 852,36 978
37,38,Ghana,Western Africa,51 916,65 225,72 739
38,39,Argentina,South America,51 564,51 666,47 661
39,40,Madagascar,Eastern Africa,51 189,70 082,83 129
40,41,Côte d’Ivoire,Western Africa,50 914,72 563,89 114
41,42,Cameroon,Middle Africa,50 837,71 741,86 877
42,43,Saudi Arabia,Western Asia,48 236,50 684,50 496
43,44,Mali,Western Africa,46 949,70 551,86 867
44,45,Republic of Korea,Eastern Asia,45 989,33 819,24 244
45,46,Canada,Northern America,45 801,50 323,53 832
46,47,Uzbekistan,Central and Southern Asia,45 442,50 027,50 820
47,48,Morocco,Northern Africa,44 964,46 472,44 016
48,49,Spain,Southern Europe,44 340,36 457,30 979
49,50,Peru,South America,41 928,44 155,42 170
50,,World,,9 687 440,10 365 079,10 355 002